ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
button.listButton{
    padding: 0px;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
}

.navbar-brand{
  cursor: pointer;
}

.closeChatWindow{
  position: absolute;
    right: 0px;
    top: 0px; 
}

.minimizeChatWindow{
  position: absolute;
  right: 12px;
  top: 0px;  

}

.chatContainer .chatRow .chatCol {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: -52px;
  padding: 52px 0px 0px 3px;  
} 

.gameContainer .gameRow .gameCol {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: -52px;
  padding: 52px 0px 0px 0px;
  border: 2px solid purple; 
} 

.boardCanvas{
  left: 0;
  top: 0;
  display: block;  
  position: absolute; 
}
  
#canvasHolder {
  display:inline-block;
  width: auto;
  height: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0; 
}

html,body {
  height:100vh;  
  width: 100%;
  margin: 0 auto;
  padding-top: 00px;
  color: white;
  background-color: rgb(20, 20, 20);
  border-color: purple;  
}
sup{
  display: inline-block;
  width: 0px;
}

td h2{
  margin: 5px 0px 5px 0px;
}

input[type="text"], input[type="password"], select, textarea {
  color: white;
  background-color : purple;
}

.modal-content{
  background-color: purple;
}

.at-btn{
  background-color: purple;
}

.at-btn:hover{
  color: #b30086;
}

#at-signUp, #at-signIn{
  color: #ff66d9;
}

.mainLink{
  color: #ff66d9;
}

.aboutDiv{
  padding-left: 10px;
}

.dropdown-menu > li > a{
  color: #ff66d9;
}

.notificationList{
  background-color: rgb(25, 25, 25);
  border: 1px solid purple;
  z-index: 1000;
}

.messagesContainer{ 
    overflow-y: scroll; 
    position: absolute; 
    width: 100%; 
    padding: 52px 0px 0px 0px; 
    margin-top: -52px;
    top: 50px;
    bottom: 35px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.gameMessagesContainer{ 
    overflow-y: scroll; 
    position: absolute;
    width: 100%;
    padding: 0px 0px 0px 0px;
    bottom: 35px;
    top: 180px;   
}

.messangerMessagesContainer{ 
    overflow-y: scroll; 
    position: absolute; 
    width: 100%; 
    top: 0px; 
    padding: 0px 0px 0px 0px; 
    bottom: 35px;
}

.gamePanel{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid purple;
  table-layout: fixed;
}

.gamePanel td{
  width: 50%;
  text-align: center;
  border: 1px solid purple;
  overflow: hidden;
}

.gamePanel tr{
  border: 1px solid purple;
  width: 100%;
  text-align: center;
}

.resign, .pass, .shareVar{
  width: 100%;
}
.forward1, .back1, .forward10, .back10{
  width: 20%;
  padding: 0px;
  margin: 0px;
}
#moveNumber{
  width: 20%;
  padding: 0px;
  margin: 0px;
  text-align: center;
}


#canvasCol{
  background-color:black;
  text-align: center; 
}

#nameExists, #nameExists2{
  color:red;
}

.userBtn{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  text-align: center;
  font-weight: bold;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 5px;
}

.userBtn:hover{
  border: 1px solid grey;
  box-shadow: 0px 0px 10px #ffffff;
}

.SEbox{
  background-color: purple;
  border: 1px dotted grey;
  min-height: 500px;
  width: 100%;
  max-width: 600px;
  word-wrap: break-word;
}

.loginBackground{
  height: 100vh;
  width: 100%;
  background:url(/loginBackground.png) center center no-repeat;
  background-color: black;
  position:absolute;
  top:0;
}

.loginBox{
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid purple;
  width: 315px;
  text-align: center;
  border-radius: 5px;
}

#roomAboutChange{
  width: 100%;
  max-width: 500px;
  height: 350px;
}

#roomAbout{
  background-color: purple;
  border: 1px dotted grey;
  width: 100%;
  max-width: 600px;
  word-wrap: break-word;
}
.pink{
  background-color: #ff66d9;
}

.inviDropMenu{
  background-color: rgb(20, 20, 20);
  min-width: 0px;
  margin: 0px;
  border: 0px;
  padding: 0px;
  border-radius: 5px;
}

@media screen and (max-width: 991px) {
    .chatContainer .chatRow .chatCol {
      height: auto;
      margin-top: 0px;
      padding-top:0px;  
    }

    .gameContainer .gameRow .gameCol {
      height: auto;
      margin-top: 0px;
      padding-top:0px; 
    } 

    .messagesContainer{
        margin-top: 0px;
        padding-top: 0px;
        top: 0px;
    }

    .gameMessagesContainer{  
      top: 130px;     
    }


    #canvasHolder{
      z-index: 1;
    }

    html,body {
      height:auto;  
      width: 100%;
      margin: 0 auto;
      padding-top: 00px;  
    }
}

.messanger{
  bottom: 0px;
  z-index: 50000;
  width: 100%;
  height: 300px;
  position: fixed;
  pointer-events: none;
}

.privateChatWrapper{
  float: right;
  width: 250px;
  height: 300px;
  margin: 0px 5px;
}

.upperChatWindow{
  height: 25px;
  width: 100%;
  background-color: purple;
  pointer-events: auto; 
  position: relative;
}

.lightblue{
  background-color: #66ffe0;
}

.green{
  background-color: #33ff33;
}

.purple{
  background-color: purple;
  color: #66ffe0;
}

.darkred{
  background-color: #990033;
}

.red{
  color: red;
}

.login-link-text, .login-close-text{
  color: #ff66d9;
}

.login-link-text:hover, .login-link-text:active, .login-link-text:focus{
  color: #b30086;
}

.login-close-text:hover, .login-close-text:active, .login-close-text:focus{
  color: #b30086;
}

.accounts-dialog{
  color: white;
}

#login-buttons-do-change-password{
  background-color: purple;
}


#login-dropdown-list{
  background-color: rgb(25, 25, 25);
  border: 1px solid purple;
}

.rotation{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.lowerChatWindow{
  height: 275px;
  width: 100%;
  background-color: #222;
  pointer-events: auto;
  position: relative;
}

.openChatWindow{
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

i{
  margin: 0px 3px;
  float: right;
}

.mainButton{
  background-color: purple;
  color: white;
}

.mainButton:hover{
  background-color: #b30086;
}

.btn-link, #logoutBtn{
  color: #ff66d9;
}

.btn-link:hover, .btn-link:active, .btn-link:focus{
  color: #b30086;
}

#logoutBtn:hover, #logoutBtn:active, #logoutBtn:focus{
  color: #b30086;
}

.midAlign{
  vertical-align: middle;
}

.linkButton{
  background:none;
  border:none; 
  padding:0;
  font: inherit;
  cursor: pointer;
  color: #ff66d9;
}

.linkButton:hover{
  color: #b30086;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px purple inset;
}
input:-moz-autofill {
    -moz-text-fill-color: white;
    -moz-box-shadow: 0 0 0px 1000px purple inset;
}
input:-o-autofill {
    -o-text-fill-color: white;
    -o-box-shadow: 0 0 0px 1000px purple inset;
}
input:-khtml-autofill {
    -khtml-text-fill-color: white;
    -khtml-box-shadow: 0 0 0px 1000px purple inset;
}

input:focus:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px purple inset;
}
input:focus:-moz-autofill {
    -moz-text-fill-color: white;
    -moz-box-shadow: 0 0 0px 1000px purple inset;
}
input:focus:-o-autofill {
    -o-text-fill-color: white;
    -o-box-shadow: 0 0 0px 1000px purple inset;
}
input:focus:-khtml-autofill {
    -khtml-text-fill-color: white;
    -khtml-box-shadow: 0 0 0px 1000px purple inset;
}