<Template name="Messanger">
	<div class="messanger">
		<ul>
			{{#each messangerWindows}}
				{{>MessangerWindow}}
			{{/each}}
		</ul>
	</div>
</Template>

<Template name="MessangerWindow">
	{{#if $eq state "open"}}
		<div class="privateChatWrapper">
			<div class="upperChatWindow">
				{{idToName chatee}} <i class="fa fa-times closeChatWindow"></i><i class="fa fa-minus minimizeChatWindow"></i>
			</div>
			<div class="lowerChatWindow">
				{{>MsnMsgsContainer}}
				<div style="position:absolute; bottom: 0px; width: 200px;">
			      <form class="new-message" autocomplete=off>
			          <input type="text" name="text" class="form-control" placeholder="Write something down! :)">
			      </form>
			    </div>	
			</div>
		</div>
	{{else}}
		<div class="privateChatWrapper rotation">
			<div class="upperChatWindow rotation openChatWindow">
				{{#if $eq state "unRead"}}
				 	<div style="color:red">{{idToName chatee}}</div>
				{{else}}
					<div>{{idToName chatee}}</div>
				{{/if}}
					<i class="fa fa-times closeChatWindow"></i>

			</div>
		</div>
	{{/if}}
</Template>

<Template name="MsnMsgsContainer">
	<div class="messangerMessagesContainer" id="{{roomId}}">
		{{#each messages roomId}}
			{{>Message}}
			{{scrollDown}}
		{{/each}}
	</div>
</Template>
